	#BannerPrincipal{
		height: 500px;
		width: 100%;
		background-image: url('@/assets/img/bannerBurguer.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right center;
		display: flex;
		align-items: center;
	}
	#BannerPrincipal h2{
		background: var(--cor-cinza);
		width: fit-content;
		padding: 30px;
	}
/***************************************************************************
	Responsivo
***************************************************************************/

@media (max-width: 991px) { 
}